* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffd6e7, #d9f1ff, #fff1c9);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.birthday-card {
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    max-width: 600px;

    padding: 50px 35px;
    border-radius: 30px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    animation: appear 1s ease;
}

.balloons {
    font-size: 45px;
    margin-bottom: 15px;

    animation: float 2s infinite ease-in-out;
}

h1 {
    color: #e88bb5;
    font-size: 45px;
    margin-bottom: 15px;
}

h2 {
    color: #8bb8d9;
    font-size: 24px;
    margin-bottom: 25px;
}

.message {
    color: #666;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
}

button {
    background-color: #f3a6c8;
    color: white;

    border: none;
    border-radius: 25px;

    padding: 14px 25px;
    margin-top: 20px;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background-color: #df82ad;
    transform: scale(1.05);
}

#surprise {
    color: #e88bb5;
    font-size: 20px;
    font-weight: bold;

    margin-top: 25px;
}

.cake {
    font-size: 70px;
    margin-top: 25px;

    animation: bounce 1.5s infinite;
}

.footer {
    color: #999;
    margin-top: 20px;
    font-size: 14px;
}


/* Animations */

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}
